@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');

:root {
    --primary-color: rgb(0, 0, 0);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/fe/2a/e9/fe2ae9ecab6bf673a80a17dee19c46dc.jpg);
    background-position: center;
    background-size: aut;
    font-family: 'Playfair', sans-serif;
    font-size: 2em;
    line-height: 0px;
}

.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    max-width: 500px;
    max-height: 500px;
    margin: 50px auto;
    background-color: #000;
    opacity: 85%;
    padding: 20px;
    border-radius: 10px;
    font-size: 50px;
}

.relogio {
    font-size: 80px;
    color: #fff;
    
}

.btn {
    font-size: 1px;
}
.iniciar {
    font-size: 20px;
}
.pausar {
    font-size: 20px;
}
.zerar {
    font-size: 20px;
}